body {
  background-color: #23282a;
  color: #fff;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;

  border: 2px solid tomato;
}

.con01 h2.title {
  font-size: 60px;
  text-transform: uppercase;
  line-height: 1.1;
}
.con01 h2.title span {
  display: block;
  -webkit-text-stroke: 2px #b1dd40;
  color: transparent;
}

.con02 ul {
  display: flex;
  justify-content: space-between;
  width: 70%;
  font-weight: bold;
  color: #23282a;
}
.con02 ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22%;
  height: 300px;
  background: #fed700;
  border-radius: 20px;
}

.con03 {
  position: relative;
  overflow: hidden;
  padding-bottom: 2000px;
}
.con03 .contitle {
  -webkit-text-stroke: 2px #b1dd40;
  color: transparent;
  font-size: 60px;
}
.con03 span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 350px;
  background: #fee8b0;
  border-radius: 20px;
  font-weight: bold;
  font-size: 28px;
  color: #333;
}
.con03 span.a {
  transform: translate(-50%, -50%) rotate(-12deg);
}
.con03 span.b {
  background: #ffbbcc;
  transform: translate(-50%, -50%) rotate(12deg);
}
.con03 span.c {
  background: #ffcccc;
  transform: translate(-50%, -50%) rotate(-15deg);
}
.con03 span.d {
  background: #df9773;
  transform: translate(-50%, -50%) rotate(8deg);
}
.con03 span.e {
  background: #d9eccb;
  transform: translate(-50%, -50%) rotate(-3deg);
}
