@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500;600&family=Manrope&family=Noto+Sans+KR:wght@400;500&display=swap");

/* layout */
.en {
  font-family: "kanit", sans-serif;
  font-weight: 600;
}
.en2 {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

body {
  font-family: "MonumentGrotesk", sans-serif;

  height: 1000vh;
}

.wrap {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /* background: #111606; */
}

img {
  filter: brightness(70%);
}

/* visual */
.visual {
  position: relative;
  padding: 0;
  overflow: hidden;
}

.visual img {
  width: 100%;
}

.visual h1 {
  position: absolute;
  left: 50%;
  top: 32%;
  transform: translateX(-50%);
  width: 60%;
  font-weight: 400;
  font-size: 7rem;
  color: #fff;
  line-height: 1;
  z-index: 10;

  opacity: 1;
}
.visual h1 span {
  display: block;
  letter-spacing: -2px;
  font-size: 5vw;
  -webkit-text-stroke: 2px #b1dd40;
  color: transparent;
}

section {
  padding: 50px 0;
}
section .inner {
  width: 80%;
  margin: 0 auto;
}

.infoProject .inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.infoProject .inner .imgBox {
  width: 70%;
}
.infoProject .inner .imgBox img {
  width: 100%;
}

.infoProject .inner .textBox {
  width: 25%;
}
.infoProject .inner .textBox span {
  display: block;
  line-height: 1.6;
  /* color: #fff; */
  color: #333;
}
.infoProject .inner .textBox span.title {
  font-weight: 500;
  color: #b1dd40;
  text-transform: uppercase;
}

.infoProject .inner .textBox .text {
  margin-bottom: 30px;
}

.concept {
  border: 2px solid gold;

  padding-bottom: 300px;
}
.concept ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.concept ul li {
  width: 28%;
  margin-top: 200px;
}
.concept ul li:nth-child(2n) {
  margin-top: 0;
}
.concept ul li img {
  width: 100%;
}

.concept ul.size {
  margin-top: 150px;
}
.concept ul.size li:nth-child(1) {
  width: 32%;
  margin-left: 20%;
}
.concept ul.size li:nth-child(2) {
  width: 40%;
  margin-top: -50px;
}
.concept ul.size li:nth-child(3) {
  width: 65%;
  margin-left: 10%;
}

.concept .textBox {
  position: relative;
  padding-top: 10%;
  border: 1px solid tomato;
}
.concept .textBox span {
  display: block;
  font-size: 1.5rem;
  line-height: 1.6;
  color: #333;
}
.concept .textBox .title {
  position: absolute;
  font-size: 8vw;
  -webkit-text-stroke: #b1dd40 2px;
  color: transparent;
}
.concept .textBox.size .title {
  font-size: 4.5vw;
  line-height: 1;
  left: 0;
}
.concept .textBox.size .title b {
  display: block;
  font-weight: 400;
  color: #333;
  -webkit-text-stroke: 0;
}
