@charset "utf-8";
/* Noto Sans KO | Cormorant Infant | Public Sans */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Noto+Sans+KR:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Eng */
.en {
  font-family: "Public Sans", sans-serif;
}
.en2 {
  font-family: "Cormorant Infant", serif;
}

/* layout */
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #000;
}
.wrap {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  color: #fff;
}

/* header */
header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
  box-sizing: border-box;
  transition: 0.2s;
}

/* header 영역 스크롤 시 반응 */
header.active {
  transform: translateY(-100%);
  transition: 0.2s;
}

header .logo {
  color: #fff;
}

header .menu-open {
  display: none;
  transition: 0.3s;
}

header a {
  color: #fff;
  text-decoration: none;
}

header nav.gnb {
}
header nav.gnb ul {
  display: flex;
  justify-content: space-between;
}
header nav.gnb ul li {
  margin-left: 70px;
}
header nav.gnb ul li:first-child {
  margin-left: 0;
}
header nav.gnb ul li a {
  display: inline-block;
}

/* Splitting JS */
header nav.gnb ul li a .char {
  display: inline-block;
  position: relative;
  color: transparent;
  overflow: hidden;
}
header nav.gnb ul li a .char::before,
header nav.gnb ul li a .char::after {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  color: #fff;
  content: attr(data-char);
  transition: transform 0.35s;
  transition-delay: calc(30ms * var(--char-index));
}
header nav.gnb ul li a .char::before {
  transform: translateY(100%);
}
header nav.gnb ul li a:hover .char::before {
  transform: translateY(0);
  opacity: 1;
}
header nav.gnb ul li a:hover .char::after {
  transform: translateY(-100%);
}

/* visual */
.visual {
  border: 2px solid gold;

  position: relative;
  width: 100%;
  /* height: 100vh; */
  letter-spacing: -1px;
  padding-top: 125px;
  box-sizing: border-box;
}

.visual .main-text {
  display: inline-block;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.4;
  margin: 0 0 150px 60px;
}
.visual .main-text p {
  overflow: hidden;
}
.visual .main-text p span {
}

.visual .sub-text {
  margin-left: 20%;
}
.visual .sub-text p {
}

.visual .scroll {
  position: fixed;
  left: 60px;
  bottom: 40px;
}

.visual .svg-ani {
  position: absolute;
  top: 9%;
  right: -2%;
  width: 55%;
  transform: rotate(-10deg);
}

/* animation */
.visual.motion .main-text {
  transform: translate3d(0, 0, 0) skewY(0deg);
  overflow: hidden;
}
.visual.motion .main-text p span {
  display: block;
  animation: textAni 1.4s linear;
}
.visual.motion .main-text p:nth-child(2) span {
  animation-duration: 1.2s;
}
.visual.motion .main-text p:last-child span {
  animation-duration: 1s;
}

@keyframes textAni {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
    transform: translate3d(0, -90px, 0) skewY(-10deg);
    transform-origin: top left;
  }
}
@keyframes textAni2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
}

.visual.motion .sub-text {
  animation: textAni2 2s linear;
}

/* svg motion */
.visual.motion #svg-ani01 {
  stroke-dasharray: 675;
  stroke-dashoffset: -675;
  animation: ani1 0.5s linear 2s forwards;
}
.visual.motion #svg-ani03 {
  stroke-dasharray: 3059;
  stroke-dashoffset: -3060;
  animation: ani3 2s linear 0.1s forwards;
}
.visual.motion #svg-ani04 {
  stroke-dasharray: 66;
  stroke-dashoffset: -66;
  animation: ani4 0.2s linear 1s forwards;
}
.visual.motion #svg-ani05 {
  stroke-dasharray: 55;
  stroke-dashoffset: -56;
  animation: ani5 0.2s linear 0s forwards;
}

@keyframes ani1 {
  0% {
    stroke-dashoffset: 675;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes ani3 {
  0% {
    stroke-dashoffset: 3060;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes ani4 {
  0% {
    stroke-dashoffset: 66;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes ani5 {
  0% {
    stroke-dashoffset: 56;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
