@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital@1&family=Noto+Sans+KR&family=Public+Sans&display=swap");

.en {
  font-family: "Public Sans", sans-serif;
}
.en2 {
  font-family: "Cormorant Infant", serif;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  line-height: 1.6;

  height: 500vh;
}

.wrap {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background: #000;
  color: #fff;
}

.visual {
  height: 100vh;
  padding-top: 150px;
  box-sizing: border-box;
}
.visual .inner {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.visual .inner .textBox {
  width: 60%;
  line-height: 1.4;
}
.visual .inner .textBox .title {
  font-size: 5.5rem;
}
.visual .inner .textBox .title .en2 {
  font-size: 7rem;
}
.visual .inner .textBox .subTitle {
  font-size: 1.7rem;
  margin: 30px 0;
}
.visual .inner .textBox .text {
  font-size: 1.3rem;
  margin-top: -10px;
}

.visual .inner .aniBox {
  position: relative;
  width: 140px;
  height: 140px;
  margin-top: 300px;
}
.visual .inner .aniBox img {
  position: absolute;
  width: 100%;
  display: inline-block;
}
.visual .inner .aniBox img.arrow {
  width: 20%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
}
.visual .inner .aniBox img.spin {
  left: 0;
  top: 0;
  animation: spin 10s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* visual.motion animation */
.visual.motion .inner .textBox {
  transform: translate3d(0, 0, 0);
}
.visual.motion .inner .textBox p {
  animation: textAni3 1s;
}

@keyframes textAni3 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0%;
    transform: translate3d(0, 50px, 0);
  }
}

/* work */
.work {
  position: relative;
  height: 100vh;
  border: 2px solid tomato;
}
.work ul {
  display: flex;
  padding: 3% 30%;
  box-sizing: border-box;
}
.work ul li {
  width: 700px;
  padding: 100px;
  box-sizing: border-box;
  flex-shrink: 0 !important;
}

.work ul li a {
  position: relative;
  display: block;
  width: 100%;
  color: #fff;
  text-decoration: none;
}
.work ul li a .imgBox {
  position: relative;
  clip-path: inset(30%);
}
.work ul li a .imgBox img {
  width: 100%;
}
.work ul li a .imgBox::before {
  content: "";
  width: 140px;
  height: 140px;
  border-radius: 100%;
  border: 1px solid #fff;
  background: url(/images/readMore2.png) no-repeat center/30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: 2;
  transition: 0.3s;
  opacity: 0;
}
/* spin img & bg */
.work ul li a .imgBox::after {
  content: "";
  width: 0;
  height: 0;
  border-radius: 100%;
  background: #fff url(/images/readMore3.png) no-repeat center/130px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  animation: spin2 10s linear infinite;
}

@keyframes spin2 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.work ul li a .imgBox:hover img {
  filter: brightness(50%);
  transition: 0.3s;
}
.work ul li a .imgBox:hover::before {
  opacity: 1;
}
.work ul li a .imgBox:hover::after {
  opacity: 1;
  width: 140px;
  height: 140px;
}

.work ul li a .textBox {
  position: absolute;
  left: 0;
  bottom: 10%;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
}
.work ul li a .textBox .title {
  font-size: 36px;
}
.work ul li a .textBox .text {
  font-size: 18px;
  padding-left: 5px;
}

/* counter */
.work .counter {
  position: absolute;
  font-size: 50px;
  right: 8%;
  bottom: 8%;
  letter-spacing: -3px;
  color: #fff;
  z-index: 1;
}
.work .counter .now {
  font-size: 2.5rem;
}
.work ul li a .num {
  width: 100%;
}

.con03 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.con03 h2 {
  font-size: 5rem;
  color: #fff;
}

/* responsive */

/* 1300-1025 */
@media screen and (max-width: 1300px) {
  .visual {
    padding-top: 120px;
  }
  .visual .inner {
    width: 90%;
  }
  .work ul {
    padding: 3% 20%;
  }
}

/* 1024-800 */
/* @media screen and (max-width: 1024px) {
.visual .inner .textBox {width: 50%;}
.visual .inner .textBox .title {font-size: 20vw;}
.visual .inner .textBox .title .en2 {font-size: 23vw;}
.visual .inner .aniBox {bottom: 10%;}
.work {height: auto; }
.work ul {padding: 0% 5%;justify-content: space-between; flex-wrap: wrap;}
.work ul li {padding: 0;width: 45%; margin-top: 150px; }
.work ul li a .imgBox { clip-path: none;}
.work ul li a .imgBox::before, .work ul li a .imgBox::after {display: none;}
.work ul li a:hover .imgBox img { filter: brightness(100%); }
.work ul li a .textBox {position: static; opacity: 1;}
.work ul li a .textBox .title { font-size: 1.6rem; }
.work ul li a .textBox .text {font-size: 1rem;}
}  */

@media screen and (max-width: 1024px) {
  .visual .inner .textBox {
    width: 50%;
  }
  .visual .inner .textBox .title {
    font-size: 20vw;
  }
  .visual .inner .textBox .title .en2 {
    font-size: 23vw;
  }
  .visual .inner .aniBox {
    bottom: 10%;
  }
  .work {
    height: auto;
  }
  .work ul {
    padding: 0% 5%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .work ul li {
    padding: 0;
    width: 45%;
    margin-top: 150px;
  }
  .work ul li:nth-child(2n) {
    margin-top: 0;
  }
  .work ul li a .imgBox {
    clip-path: none;
  }
  .work ul li a .textBox {
    opacity: 1;
    position: static;
  }
  .work ul li a .textBox .title {
    font-size: 35px;
  }
  .work ul li a .textBox .text {
    font-size: 16px;
  }
  .work ul li a .imgBox:before,
  .work ul li a .imgBox:after {
    display: none;
  }
  .work ul li a:hover .imgBox img {
    filter: brightness(100%);
  }
}

/* 800-501 */
@media screen and (max-width: 800px) {
  .visual .inner .textBox {
    padding-left: 5px;
  }
  .visual .inner .textBox .subTitle {
    font-size: 1.7rem;
  }
  .visual .inner .textBox .text {
    font-size: 1.2rem;
  }

  .visual .inner .aniBox {
    width: 200px;
    height: 200px;
    margin-top: 460px;
    bottom: -20%;
  }

  .work ul li {
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
  }
}

/* 500 이하 */
@media screen and (max-width: 500px) {
  .visual {
    height: 70vh;
    padding-top: 110px;
  }

  .visual .inner .textBox {
    width: 100%;
  }
  .visual .inner .textBox .text {
    width: 100%;
  }
  .visual .inner .textBox .title .en2 {
    margin-left: -20px;
  }
  .visual .inner .textBox .subTitle {
    font-size: 20px;
  }

  .visual .inner .aniBox {
    display: none;
  }

  .work ul li a .textBox .title {
    font-size: 2rem;
  }

  .con03 h2 {
    font-size: 2rem;
  }
}
